{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="body_font">
    <nav class="body_font">
        <a href="{% url "home" %}">Inicio</a>
        <a href="">Contacto</a>
        <a href="">Acerca de</a>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>