{% extends "base.html" %} 

{% block title %}Cuenta{% endblock title %} 

{% block content %}
<div>
  <h1 style="margin-top: 1.3em; margin-bottom:1em;" class="title_font xl center">Mis Curriculum</h1>
  <a href="{% url "create" %}">Crear uno nuevo</a>
  {% for cv in cvList %}
  <div class="card">
    <h3>{{ cv.title }}</h3>
    <div>
        <a class="btn" href="">Editar</a>
        <a class="btn exit" href='result/{{cv.id}}' type="submit">Ver</a>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock content %}
