{% extends "base.html" %} 

{% block title %}Cuenta{% endblock title %} 

{% block content %}
<div>
  <h1 style="margin-top: 1.3em; margin-bottom:1em;" class="title_font xl center">Mis Curriculum</h1>
  <a href="{% url "create" %}">Crear uno nuevo</a>
  {% for cv in cvList %}
  <div class="card">
    <h3>{{ cv.title }}</h3>
    <form method="post">
      {% csrf_token %}
        <a style="text-decoration:none; margin-right:1em" class="btn" href="edit/{{cv.id}}">Editar</a>
        <a style="text-decoration:none" class="btn" href="result/{{cv.id}}">Ver</a>
        <input type="number" value="{{ cv.id }}" hidden="true" name="id" value="id">
        <button type="submit" class="btn exit" href="">Eliminar</button>
    </form>
  </div>
  {% endfor %}

</div>
{% endblock content %}
