@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

html {
    background: #000000;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    background: linear-gradient(85deg,
            #06005a,
            #000000,
            #0d3a56);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 0.8em;
}

.body_font {
    font-family: 'Noto Sans Mono' monospace;
    font-weight: 500;
}

.title_font {
    font-family: "Tiny5", system-ui;
    font-weight: 400;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.xl {
    font-size: 3em;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 0em;
    font-size: 2em;
    color: #3b779d;
}

nav {
    background-color: aliceblue;
    margin-top: 0.8em;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: 0px 8em 4em 1em #080075;

    a {
        text-decoration: none;
        margin-inline: 0.8em;
        color: #114f75;
        transition: 0.3s ease-in-out all;
        font-weight: 600;
    }
}

nav a:hover {
    color: #3b779d;
    text-shadow: #202375 0px 5px 10px;
}


section {
    max-width: 40em;
    margin-top: 3em;
    margin-inline: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;

        img {
            height: 10rem;
            justify-content: center;
            /* margin-top: 2em; */
            margin-inline: 1.5em;

        }
    }
}

.glow {
    text-decoration: none;
    color: aliceblue;
    background: linear-gradient(90deg,
            #080075,
            #114f75);
    border-radius: 1.5em;
    padding: 0.6em;
    transition: 0.3s ease-in-out all;
}

.glow:hover {
    box-shadow: #06005a 0px 0px 15px 10px;
}

div{
    margin-block: 1rem;
    input{
        margin-top: 0.5rem;
    }
}

form {
    max-width: 35rem;
    padding: 1em;
}

label {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

input {
    background: #ffffff11;
    border: 0px solid;
    border-radius: 1em;
    padding: 1em;
    color: white;
    transition: all 0.5s ease-in-out;
    width: 100%;
    margin: 1rems;
}

textarea {
    background: #ffffff11;
    border: 0px solid;
    border-radius: 1em;
    padding: 1em;
    color: white;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.btn {
    max-width: 100%;
    padding: 0.8rem;
    margin-top: 0.6rem;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(70deg,
            #3b789d6b,
            #06005a64);
}

form input:focus {
    outline: none;
    background-color: #4c76ff17;
}

form textarea:focus {
    outline: none;
    background-color: #4c76ff17;
}

span {
    font-weight: 400;
}

.card {
    border-radius: 1.5em;
    background: transparent;
    backdrop-filter: blur(20px);
    margin-bottom: 1.5rem;
    background-image: linear-gradient(90deg,
            rgba(70, 70, 70, 0.3),
            rgba(94, 94, 94, 0.3));
    padding: 1em;
}

.exit {
    background: linear-gradient(75deg,
            rgba(255, 0, 0, 0.349),
            #114f75);
    margin-inline: 1rem;
}

.back {
    background: linear-gradient(75deg,
            #114f75,
            rgba(0, 128, 0, 0.332));
    margin-inline: 1rem;
}